@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hind-madurai-font {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}

/* Shared Styles */
:root {
  --text-primary: rgba(0, 0, 0, 1);
  --text-secondary: rgba(255, 255, 255, 1);
  --dark: rgba(17, 17, 17, 1);
  --gray: rgba(92, 92, 92, 1);
  --gray-light: rgba(242, 242, 242, 1);
  --stroke: rgba(212, 214, 213, 1);
  --green: rgba(0, 166, 62, 1);
  --red-bg: rgba(255, 227, 226, 1);
  --blue-bg: rgba(223, 239, 255, 1);
  --yellow-bg: rgba(255, 255, 0, 1);
  --surface: rgba(250, 250, 250, 1);
}

.bg-white {
  background: var(--text-secondary);
}

.bg-red {
  background: var(--red-bg);
}

.bg-blue {
  background: var(--blue-bg);
}

.bg-yellow {
  background: var(--yellow-bg);
}

.btn-score {
  width: 8.125rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.75rem;
  border: none;
  border-radius: 3.125rem;
  background: rgba(65, 255, 107, 0.1);
  cursor: pointer;
}

.btn-copy-count {
  width: 9.4rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.75rem;
  border: none;
  border-radius: 3.125rem;
  background: rgba(0, 166, 62, 1);
  cursor: pointer;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
}

nav {
  max-height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 3.75rem;
}

.logo-container {
  width: 10rem;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
}

.logo-img {
  height: 3.125rem;
  width: 3.125rem;
}

.logo-text {
  font-family: "Hind Madurai", sans-serif;
  color: #006747;
  font-weight: 900;
  font-size: 1.3rem;
}

.nav-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.heart-count,
.credit-count {
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: center;
}

.heart-icon,
.coin-icon {
  width: 1.875rem;
  height: 1.875rem;
}

.copy-text {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: center;
}

/* Hero Section Style */

.hero {
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: undefined;
  padding: 0.75rem 3.75rem;
  background: linear-gradient(
    90deg,
    rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),
    rgba(0, 103, 71, 1) 50%,
    rgba(1, 50, 35, 1) 100%
  );
  border: 5px solid yellow;
}

.main-logo-container {
  width: 5.75rem;
  height: 5.75rem;
  margin: 1.25rem 0 0 0;
}

.hero-title {
  color: var(--text-secondary);
  font-family: "Hind Madurai", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0.75rem 0;
}

.hero-subtitle {
  color: var(--text-secondary);
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 1.375rem;
}

/* Main Section Styles */

.main {
  max-width: 112.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 1.875rem;
  padding: 3.625rem;
  background-color: #f5fff6;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.history-container {
  width: 25rem;

  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 1.5rem;
}

.card {
  max-width: 455px;
  max-height: 360px;

  padding: 2rem;

  border-radius: 12px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background: var(--text-secondary);
}

.card-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 16px;
}
.card-logo {
  width: 32px;
}

.card-love-react-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.card-love-react {
  width: 24px;
}
.card-info {
  margin: 0;
}
.card-heading {
  color: var(--dark);
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  margin: 1rem 0 0;
  padding: 0;
}

.card-text {
  color: var(--gray);
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
}

.phone-number {
  color: var(--dark);
  text-decoration: none;
  margin: 24px 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.card-phone-tag-container,
.card-heading-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.card-tag {
  color: var(--gray);
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.125rem;
  height: 37px;

  align-self: flex-start;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  gap: undefined;
  padding: 6px 16px;

  border-radius: 9999px;
  background: var(--gray-light);
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 1.5rem 0 0;
}

.btn-copy {
  height: 40px;
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid var(--stroke);
  border-radius: 8px;
  background: var(--text-secondary);
  color: var(--gray);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
}

.btn-call {
  height: 40px;
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid var(--stroke);
  border-radius: 8px;
  background: var(--green);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: undefined;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, font-weight 0.3s ease;
}

.btn-call:hover,
.btn-copy:hover {
  background-color: var(--gray);
  color: #fff;
  font-weight: bold;
}

.normal-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.dark-color {
  color: var(--gray);
}

.white-color {
  color: var(--text-secondary);
}

/* Call History Styles */
.history-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.history-heading {
  font-size: 1.25rem;
}
.btn-clear-history {
  width: 114px;
  height: 52px;
  padding: 12px 36px 12px 36px;
  border: none;
  border-radius: 50px;
  background: rgba(0, 166, 62, 1);
  cursor: pointer;

  color: var(--text-secondary);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.history-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;

  border-radius: 8px;
  background: var(--surface);
  gap: 15px;
}

.call-info {
  width: 60%;
}

.time-container {
  width: 35%;
}

.history-contact-name {
  color: var(--dark);
  font-size: 1.125rem;
  font-weight: 600;
  text-align: left;
  margin: 0;
  padding: 0 0 4px;
}

.history-contact-number {
  color: var(--gray);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0 0 4px;
}

.time-text {
  color: var(--gray);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0 0 4px;
}
