@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hind-madurai-font {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}

/* Shared Styles */
:root {
  --text-primary: rgba(0, 0, 0, 1);
  --text-secondary: rgba(255, 255, 255, 1);
}

.btn-score {
  width: 8.125rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.75rem;
  border: none;
  border-radius: 3.125rem;
  background: rgba(65, 255, 107, 0.1);
}

.btn-copy-count {
  width: 9.4rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.75rem;
  border: none;
  border-radius: 3.125rem;
  background: rgba(0, 166, 62, 1);
}

body {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
}

nav {
  max-height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 3.75rem;
}

.logo-container {
  width: 10rem;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
}

.logo-img {
  height: 3.125rem;
  width: 3.125rem;
}

.logo-text {
  font-family: "Hind Madurai", sans-serif;
  color: #006747;
  font-weight: 900;
  font-size: 1.3rem;
}

.nav-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.heart-count,
.credit-count {
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: center;
}

.heart-icon,
.coin-icon {
  width: 1.875rem;
  height: 1.875rem;
}

.copy-text {
  color: var(--text-secondary);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: center;
}

/* Hero Section Style */

.hero {
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: undefined;
  padding: 0.75rem 3.75rem;
  background: linear-gradient(
    90deg,
    rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),
    rgba(0, 103, 71, 1) 50%,
    rgba(1, 50, 35, 1) 100%
  );
  border: 5px solid yellow;
}

.main-logo-container {
  width: 5.75rem;
  height: 5.75rem;
  margin: 1.25rem 0 0 0;
  border: 1px solid goldenrod;
}

.hero-title {
  color: var(--text-secondary);
  font-family: "Hind Madurai", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0.75rem 0;
}

.hero-subtitle {
  color: var(--text-secondary);
  font-family: Hind Madurai;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 0 1.375rem;
}
